@{
    ViewData["Title"] = "Desk Staff Dashboard";
}
<div class="text-center">
    <h1 class="text-secondary">@ViewData["Title"]</h1>
</div>

<nav class="navbar navbar-dark bg-dark">
    <div class="col-sm">
        <div class="dropdown show">
            <a class="btn btn-dark dropdown btn-lg btn-block " href="#" role="button"
               id="dropdownMenuLink" data-toggle="dropdown">
                Register
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" asp-controller="Patients" asp-action="PatientSearch">New Registration</a>
                <a class="dropdown-item" asp-controller="RegisterPatients" asp-action="Index">Registered Patients</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <a href="#" class="btn btn-dark btn-lg btn-block" role="button">
            Appointment
        </a>
    </div>
    <div class="col-sm">
        <a asp-controller="RegisterPatients" asp-action="RegPatientSearch" class="btn btn-dark btn-lg btn-block" role="button">
            Payment
        </a>
    </div>
</nav>