@{
    ViewData["Title"] = "Lab Assistant";
}
<div class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="#" class="btn btn-success btn-lg btn-block active" role="button" aria-pressed="true">
            Upload Reports</a>
        </div>
        <div class="col-sm">
            <a href="#" class="btn btn-success btn-lg btn-block active" role="button" aria-pressed="true">
            Patient Details</a>
        </div>
    </div>
</div>