@{
    ViewData["Title"] = "Desk Staff";
}
<div class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a asp-controller="Patients" asp-action="PatientSearch" class="btn btn-success btn-lg btn-block active" role="button" aria-pressed="true">
            Register</a>
        </div>
        <div class="col-sm">
            <a href="#" class="btn btn-success btn-lg btn-block active" role="button" aria-pressed="true">
            Appointment</a>
        </div>
        <div class="col-sm">
            <a href="#" class="btn btn-success btn-lg btn-block active" role="button" aria-pressed="true">
            Payment</a>
        </div>
        <div class="col-sm">
            <a href="#" class="btn btn-success btn-lg btn-block active" role="button" aria-pressed="true">
            Receipt</a>
        </div>
    </div>
</div>