@{
    ViewData["Title"] = "Lab Assistant Dashboard";
}
<div class="text-center">
    <h1 class="text-secondary">@ViewData["Title"]</h1>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="col-sm">
        <a asp-controller="RegisterPatients" asp-action="Index" class="btn btn-dark btn-lg btn-block " role="button" >
            Registration Details
        </a>
    </div>
    <div class="col-sm">
        <a asp-controller="Patients" asp-action="Index" class="btn btn-dark btn-lg btn-block " role="button" >
            Patient Details
        </a>
    </div>
</nav>
