@{
    ViewData["Title"] = "Associate Doctor";
}
<div class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="dropdown show">
                <a class="btn btn-success dropdown-toggle btn-lg btn-block" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Master Maintenance
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Account" asp-action="UserMgmt">User Management</a>
                    <a class="dropdown-item" asp-controller="Mgmt" asp-action="Index">Test Package Management</a>
                    <a class="dropdown-item" href="#">Test Category</a>
                    <a class="dropdown-item" href="#">Test Management</a>
                    <a class="dropdown-item" href="#">Patient Details</a>
                </div>
            </div>      
        </div>
        <div class="col-sm">
            <a href="#" class="btn btn-success btn-lg btn-block active" role="button" aria-pressed="true">
            Reports</a>
        </div>
        <div class="col-sm">
            <a href="#" class="btn btn-success btn-lg btn-block active" role="button" aria-pressed="true">
            View Report Statistics</a>
        </div>
    </div>
</div>

