@model Pathology.Models.Patient

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1>New Patient</h1>
    <hr />
</div>

<form asp-action="Create">
    <table align="center" width="400">
        <tr>
            <td>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="PatientName" class="control-label">Patient Name</label>
                    <input asp-for="PatientName" class="form-control" />
                    <span asp-validation-for="PatientName" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="PatientEmail" class="control-label">Patient Email</label>
                    <input asp-for="PatientEmail" class="form-control" />
                    <span asp-validation-for="PatientEmail" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="PatientAadharID" class="control-label">Patient Aadhar ID</label>
                    <input asp-for="PatientAadharID" class="form-control" />
                    <span asp-validation-for="PatientAadharID" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="PatientHealthIssues" class="control-label">Patient Health Issues</label>
                    <textarea asp-for="PatientHealthIssues" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="PatientHealthIssues" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label">Date Of Birth</label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </td>
        </tr>
    </table>
</form>


<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

