@model Pathology.Models.Patient

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientEmail" class="control-label"></label>
                <input asp-for="PatientEmail" class="form-control" />
                <span asp-validation-for="PatientEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientAadharID" class="control-label"></label>
                <input asp-for="PatientAadharID" class="form-control" />
                <span asp-validation-for="PatientAadharID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientHealthIssues" class="control-label"></label>
                <input asp-for="PatientHealthIssues" class="form-control" />
                <span asp-validation-for="PatientHealthIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

