@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>
<h2>Contact Information:</h2>
<p>
    Address: 30100 Telegraph Road, Suite 408, Bingham Farms, Florida 48025 (USA)<br />
    Email: mail@xyz.com<br />
    Telephone: (999) 999-9999
</p>
