@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <table align="center" cellpadding="10">
        <tr>
            <td>User name</td>
            <td><input id="Text1" type="text" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input id="Password1" type="password" /></td>
        </tr>
        <tr>
            <td align="right"><input id="Button1" type="button" value="Clear" class="btn btn-outline-success" /></td>
            <td align="left"><input id="Button2" type="button" value="Submit" class="btn btn-outline-success" /></td>
        </tr>
    </table>
</div>


