@model Pathology.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <form method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">

            <table align="center" cellpadding="10" style="border-style:solid" class="border-primary">
                <tr>
                    <td>
                        <label asp-for="email" class="control-label">Email</label>
                    </td>
                    <td>
                        <input type="email" asp-for="email" class="form-control" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="pwd" class="control-label">Password</label>
                    </td>
                    <td>
                        <input type="password" asp-for="pwd" class="form-control" />
                        <span asp-validation-for="pwd" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label asp-for="rememberMe">
                            <input asp-for="rememberMe" />
                            @Html.DisplayNameFor(m => m.rememberMe)
                        </label>
                    </td>
                </tr>
            </table>
            <table align="center" cellpadding="20">
                <tr>
                    <td align="right">
                        <div class="form-group">
                            <input type="reset" value="Clear" class="btn btn-primary" />
                        </div>
                    </td>
                    <td align="left">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </form>
</div>

