@model Pathology.Models.RegisterPatient

@{
    ViewData["Title"] = "Edit";
}
<div class="text-center">
    <h1>Edit Registered Patient</h1>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RegisterID" />
            <input type="hidden" asp-for="Id" value=@ViewBag.Id />
            <input type="hidden" asp-for="PatientID" asp-items="ViewBag.PatientID" />
            <input type="hidden" asp-for="RegDateTime" class="form-control" />
            <input type="hidden" asp-for="IsReportGenerated" />
            <input type="hidden" asp-for="RoportPDF" class="form-control" />

            <div class="form-group">
                <label asp-for="TestId" class="control-label"></label>
                <select id="TestList" asp-for="TestId" class="form-control" asp-items="ViewBag.TestId">Test Name</select>
                <span asp-validation-for="TestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackageID" class="control-label"></label>
                <select id="PackageList" asp-for="PackageID" class="form-control" asp-items="ViewBag.PackageID">Package Name</select>
                <span asp-validation-for="PackageID" class="text-danger"></span>
            </div>
            <input id="DisplayPrice1" hidden />
            <input id="DisplayPrice2" hidden />
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label">Total Amount</label>
                <input asp-for="TotalAmount" class="form-control" id="ShowPrice" readonly />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts
            {
    <script>
        $("#TestList").change(function () {
            var v = $(this).val();
            $.getJSON("/RegisterPatients/GetPriceTest?testid=" + v, function (data) {
                console.log(data);
                $("#DisplayPrice1").val(data);
            });
        });
    </script>

    <script>
        $("#PackageList").change(function () {
            var v = $(this).val();
            $.getJSON("/RegisterPatients/GetPricePackage?packageid=" + v, function (data) {
                console.log(data);
                $("#DisplayPrice2").val(data);
            });
        });
    </script>

    <script>
        $("#TestList").focusout(function () {
            var a = parseInt($("#DisplayPrice1").val());
            var b = parseInt($("#DisplayPrice2").val());
            var sum = a + b;
            $("#ShowPrice").val(sum);
        });
    </script>

    <script>
        $("#PackageList").focusout(function () {
            var a = parseInt($("#DisplayPrice1").val());
            var b = parseInt($("#DisplayPrice2").val());
            var sum = a + b;
            $("#ShowPrice").val(sum);
        });
    </script>

}

