@model Pathology.ViewModels.UploadFile;
@{
    ViewData["Title"] = "FileUpload";
}
<header class="text-center">
    <h1>Upload Report</h1>

    <h4>Choose .pdf report file</h4>
</header>
<hr />
<br />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="UploadPdf">
            <div>
                <input type="hidden" readonly asp-for="Id" value=@ViewBag.Id />
            </div>
            <div class="custom-file">
                <input asp-for="File" accept=".pdf" class="form-control custom-file-input">
                <label class="custom-file-label">Choose File...</label>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <br />
            <div class="text-center">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}
