@model Pathology.Models.Package

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Package</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Package Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageName)
        </dd>
        <dt class="col-sm-2">
            Package Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageDescription)
        </dd>
        <dt class = "col-sm-2">
            Package Price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackagrPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PackageID" class="btn btn-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
