<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Receipt</title>
</head>
<body>
    <div>
        <table align="center" cellpadding="10" cellspacing="30" width="50%" >
            <tr>
                <td>
                    <img src="../wwwroot/images/logo.png" height="75" width="75" alt="img" />
                </td>
                <td>
                    <h1>iCare Diagnostics</h1>
                </td>
            </tr>
        </table>
    </div>
    <hr />
    <div>
        <table align="left" cellpadding="10" cellspacing="20" width="25%">
            <tr>
                <td>
                    Patient Name:
                </td>
                <td>
                    PATIENTNAME
                </td>
            </tr>
            <tr>
                <td>
                    Test Name:
                </td>
                <td>
                    TESTNAME
                </td>
            </tr>
            <tr>
                <td>
                    Package Name:
                </td>
                <td>
                    PACKAGENAME
                </td>
            </tr>
        </table>
        <table align="right" cellpadding="10" width="25%">
            <tr>
                <td>
                    Payment Date:
                </td>
                <td>
                    PAYMENTDATE
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div>
        <table align="center" cellpadding="10" cellspacing="20" width="100%" border="1" style="border-collapse:collapse" >
            <tr>
                <td>Amount</td>
                <td>gst</td>
                <td>Total Amount</td>
                <td>Discount Allowed</td>
                <td>Net Amount</td>
            </tr>
            <tr>
                <td>AMOUNT</td>
                <td>GST</td>
                <td>TOTALAMOUNT</td>
                <td>DISCOUNTALLOWED</td>
                <td>NETAMOUNT</td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <br />
    <hr />
    <div>
        <table align="center" cellpadding="10" cellspacing="20" width="50%">
            <tr>
                <td align="left">
                    Mode Of Payment:
                </td>
                <td align="left">
                    ModeOfPayment
                </td>
                <td></td>
                <td></td>
                <td align="right">
                    Total Amount To Be Paid:
                </td>
                <td align="right">
                    NETAMOUNT
                </td>
            </tr>
        </table>
    </div>
</body>
</html>