@model Pathology.Models.TestCategory

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1>New Test Category</h1>
    <hr />
</div>
<form asp-action="Create">
    <table align="center" width="400">
        <tr>
            <td>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="TestCategoryName" class="control-label">Test Category Name</label>
                    <input asp-for="TestCategoryName" class="form-control" />
                    <span asp-validation-for="TestCategoryName" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="TestCategoryDescription" class="control-label">Test Category Description</label>
                    <textarea asp-for="TestCategoryDescription" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="TestCategoryDescription" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </td>
        </tr>
    </table>
</form>


<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

